{
 "openapi": "3.0.0",
 "info": {
  "x-ms-metadata": {
   "merged": true,
   "apiVersions": [
    "2019-06-01"
   ],
   "deduplicated": true,
   "schemaReduced": true
  },
  "title": "StorageManagementClient",
  "description": "The Azure Storage Management API.",
  "version": "2019-06-01"
 },
 "paths": {
  "path:0": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/providers/Microsoft.Storage/operations",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1providers~1Microsoft.Storage~1operations"
    ]
   }
  },
  "path:0.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/providers/Microsoft.Storage/operations",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1providers~1Microsoft.Storage~1operations"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "Operations"
    ],
    "description": "Lists all of the available Storage Rest API operations.",
    "operationId": "Operations_List",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:24"
     }
    ],
    "responses": {
     "200": {
      "description": "OK. The request has succeeded.",
      "$ref": "#/components/responses/responses:0"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": null
    }
   }
  },
  "path:1": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1skus"
    ]
   }
  },
  "path:1.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1skus"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "Skus"
    ],
    "operationId": "Skus_List",
    "description": "Lists the available SKUs supported by Microsoft.Storage for given subscription.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List of storage SKUs in the given subscription retrieved and returned successfully.",
      "$ref": "#/components/responses/responses:1"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": null
    }
   }
  },
  "path:2": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1checkNameAvailability"
    ]
   }
  },
  "path:2.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1checkNameAvailability"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_CheckNameAvailability",
    "description": "Checks that the storage account name is valid and is not already in use.",
    "requestBody": {
     "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
     "$ref": "#/components/requestBodies/requestBodies:0"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "x-ms-requestBody-index": 0,
    "responses": {
     "200": {
      "description": "OK -- Operation to check the storage account name availability was successful.",
      "$ref": "#/components/responses/responses:2"
     }
    }
   }
  },
  "path:3": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}"
    ]
   }
  },
  "path:3.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_Create",
    "description": "Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The parameters to provide for the created account.",
     "$ref": "#/components/requestBodies/requestBodies:1"
    },
    "x-ms-requestBody-index": 2,
    "responses": {
     "200": {
      "description": "OK -- returned when the storage account was already created from a previous request with the same properties specified in the request body.",
      "$ref": "#/components/responses/responses:3"
     },
     "202": {
      "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
      "$ref": "#/components/responses/responses:4"
     }
    },
    "x-ms-long-running-operation": true
   }
  },
  "path:3.delete": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}"
    ]
   },
   "delete": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_Delete",
    "description": "Deletes a storage account in Microsoft Azure.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- storage account deleted successfully.",
      "$ref": "#/components/responses/responses:5"
     },
     "204": {
      "description": "NoContent -- account does not exist in the subscription.",
      "$ref": "#/components/responses/responses:6"
     }
    }
   }
  },
  "path:3.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_GetProperties",
    "description": "Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:0",
      "description": "May be used to expand the properties within account's properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- properties retrieved successfully for the storage account.",
      "$ref": "#/components/responses/responses:7"
     }
    }
   }
  },
  "path:3.patch": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}"
    ]
   },
   "patch": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_Update",
    "description": "The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The parameters to provide for the updated account.",
     "$ref": "#/components/requestBodies/requestBodies:2"
    },
    "x-ms-requestBody-index": 2,
    "responses": {
     "200": {
      "description": "OK -- storage account properties updated successfully.",
      "$ref": "#/components/responses/responses:8"
     }
    }
   }
  },
  "path:4": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1storageAccounts"
    ]
   }
  },
  "path:4.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1storageAccounts"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_List",
    "description": "Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List of storage accounts was retrieved and returned successfully.",
      "$ref": "#/components/responses/responses:9"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": "nextLink"
    }
   }
  },
  "path:5": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts"
    ]
   }
  },
  "path:5.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_ListByResourceGroup",
    "description": "Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List of storage accounts in the given resource group retrieved and returned successfully.",
      "$ref": "#/components/responses/responses:10"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": null
    }
   }
  },
  "path:6": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1listKeys"
    ]
   }
  },
  "path:6.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1listKeys"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_ListKeys",
    "description": "Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:1",
      "description": "Specifies type of the key to be listed. Possible value is kerb."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- list of keys retrieved and returned successfully.",
      "$ref": "#/components/responses/responses:11"
     }
    }
   }
  },
  "path:7": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1regenerateKey"
    ]
   }
  },
  "path:7.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1regenerateKey"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_RegenerateKey",
    "description": "Regenerates one of the access keys or Kerberos keys for the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2.",
     "$ref": "#/components/requestBodies/requestBodies:3"
    },
    "x-ms-requestBody-index": 2,
    "responses": {
     "200": {
      "description": "OK -- specified key regenerated successfully.",
      "$ref": "#/components/responses/responses:12"
     }
    }
   }
  },
  "path:8": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1locations~1{location}~1usages"
    ]
   }
  },
  "path:8.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Storage~1locations~1{location}~1usages"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "LocationUsage"
    ],
    "operationId": "Usages_ListByLocation",
    "description": "Gets the current usage count and the limit for the resources of the location under the subscription.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:2",
      "description": "The location of the Azure Storage resource."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- current usage count and limit retrieved and returned successfully.",
      "$ref": "#/components/responses/responses:13"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": null
    }
   }
  },
  "path:9": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1ListAccountSas"
    ]
   }
  },
  "path:9.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1ListAccountSas"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_ListAccountSAS",
    "description": "List SAS credentials of a storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The parameters to provide to list SAS credentials for the storage account.",
     "$ref": "#/components/requestBodies/requestBodies:4"
    },
    "x-ms-requestBody-index": 2,
    "responses": {
     "200": {
      "description": "OK -- returned the account SAS created for the storage account requested.",
      "$ref": "#/components/responses/responses:14"
     }
    }
   }
  },
  "path:10": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1ListServiceSas"
    ]
   }
  },
  "path:10.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1ListServiceSas"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_ListServiceSAS",
    "description": "List service SAS credentials of a specific resource.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The parameters to provide to list service SAS credentials.",
     "$ref": "#/components/requestBodies/requestBodies:5"
    },
    "x-ms-requestBody-index": 2,
    "responses": {
     "200": {
      "description": "OK -- returned the service SAS created for the storage service requested.",
      "$ref": "#/components/responses/responses:15"
     }
    }
   }
  },
  "path:11": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1failover"
    ]
   }
  },
  "path:11.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1failover"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_Failover",
    "description": "Failover request can be triggered for a storage account in case of availability issues. The failover occurs from the storage account's primary cluster to secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Returned when the storage account failover is completed, and the secondary cluster has become primary.",
      "$ref": "#/components/responses/responses:16"
     },
     "202": {
      "description": "Accepted -- Failover request accepted; operation will complete asynchronously.",
      "$ref": "#/components/responses/responses:17"
     }
    },
    "x-ms-long-running-operation": true,
    "x-ms-long-running-operation-options": {
     "final-state-via": "location"
    }
   }
  },
  "path:12": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/restoreBlobRanges",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1restoreBlobRanges"
    ]
   }
  },
  "path:12.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/restoreBlobRanges",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1restoreBlobRanges"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_RestoreBlobRanges",
    "description": "Restore blobs in the specified blob ranges",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The parameters to provide for restore blob ranges.",
     "$ref": "#/components/requestBodies/requestBodies:6"
    },
    "x-ms-requestBody-index": 4,
    "responses": {
     "200": {
      "description": "OK -- returned when blob ranges are restored completely with the same properties specified in the request body.",
      "$ref": "#/components/responses/responses:18"
     },
     "202": {
      "description": "Accepted -- Blob restore request accepted; operation will complete asynchronously.",
      "$ref": "#/components/responses/responses:19"
     }
    },
    "x-ms-long-running-operation": true,
    "x-ms-long-running-operation-options": {
     "final-state-via": "location"
    }
   }
  },
  "path:13": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1managementPolicies~1{managementPolicyName}"
    ]
   }
  },
  "path:13.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1managementPolicies~1{managementPolicyName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "ManagementPolicies"
    ],
    "operationId": "ManagementPolicies_Get",
    "description": "Gets the managementpolicy associated with the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:6"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Get the managementpolicy successfully.",
      "$ref": "#/components/responses/responses:20"
     }
    }
   }
  },
  "path:13.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1managementPolicies~1{managementPolicyName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "ManagementPolicies"
    ],
    "operationId": "ManagementPolicies_CreateOrUpdate",
    "description": "Sets the managementpolicy to the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:6"
     }
    ],
    "requestBody": {
     "description": "The ManagementPolicy set to a storage account.",
     "$ref": "#/components/requestBodies/requestBodies:7"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Put managementpolicy successfully.",
      "$ref": "#/components/responses/responses:21"
     }
    }
   }
  },
  "path:13.delete": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1managementPolicies~1{managementPolicyName}"
    ]
   },
   "delete": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "ManagementPolicies"
    ],
    "operationId": "ManagementPolicies_Delete",
    "description": "Deletes the managementpolicy associated with the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:6"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Delete the managementpolicy successfully.",
      "$ref": "#/components/responses/responses:22"
     },
     "204": {
      "description": "No Content -- The managementpolicy does not exist.",
      "$ref": "#/components/responses/responses:23"
     }
    }
   }
  },
  "path:14": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateEndpointConnections~1{privateEndpointConnectionName}"
    ]
   }
  },
  "path:14.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateEndpointConnections~1{privateEndpointConnectionName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "PrivateEndpointConnections"
    ],
    "operationId": "PrivateEndpointConnections_Get",
    "description": "Gets the specified private endpoint connection associated with the storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:7"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Get the private endpoint connection properties successfully.",
      "$ref": "#/components/responses/responses:24"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:25"
     }
    }
   }
  },
  "path:14.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateEndpointConnections~1{privateEndpointConnectionName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "PrivateEndpointConnections"
    ],
    "operationId": "PrivateEndpointConnections_Put",
    "description": "Update the state of specified private endpoint connection associated with the storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:7"
     }
    ],
    "requestBody": {
     "description": "The private endpoint connection properties.",
     "$ref": "#/components/requestBodies/requestBodies:8"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Update the private endpoint connection properties successfully.",
      "$ref": "#/components/responses/responses:26"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:27"
     }
    }
   }
  },
  "path:14.delete": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateEndpointConnections~1{privateEndpointConnectionName}"
    ]
   },
   "delete": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "PrivateEndpointConnections"
    ],
    "operationId": "PrivateEndpointConnections_Delete",
    "description": "Deletes the specified private endpoint connection associated with the storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:7"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Delete the private endpoint connection successfully.",
      "$ref": "#/components/responses/responses:28"
     },
     "204": {
      "description": "No Content -- The private endpoint connection does not exist.",
      "$ref": "#/components/responses/responses:29"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:30"
     }
    }
   }
  },
  "path:15": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateLinkResources"
    ]
   }
  },
  "path:15.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1privateLinkResources"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "PrivateLinkResources"
    ],
    "operationId": "PrivateLinkResources_ListByStorageAccount",
    "description": "Gets the private link resources that need to be created for a storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved private link resources.",
      "$ref": "#/components/responses/responses:31"
     }
    }
   }
  },
  "path:16": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1revokeUserDelegationKeys"
    ]
   }
  },
  "path:16.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1revokeUserDelegationKeys"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "StorageAccounts"
    ],
    "operationId": "StorageAccounts_RevokeUserDelegationKeys",
    "description": "Revoke user delegation keys.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:3",
      "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- revoke user delegation keys succeeded.",
      "$ref": "#/components/responses/responses:32"
     }
    }
   }
  },
  "path:17": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes~1{encryptionScopeName}"
    ]
   }
  },
  "path:17.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes~1{encryptionScopeName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "EncryptionScopes"
    ],
    "operationId": "EncryptionScopes_Put",
    "description": "Synchronously creates or updates an encryption scope under the specified storage account. If an encryption scope is already created and a subsequent request is issued with different properties, the encryption scope properties will be updated per the specified request.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:8"
     }
    ],
    "requestBody": {
     "description": "Encryption scope properties to be used for the create or update.",
     "$ref": "#/components/requestBodies/requestBodies:9"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Update encryption scope operation completed successfully.",
      "$ref": "#/components/responses/responses:33"
     },
     "201": {
      "description": "Created -- Create encryption scope operation completed successfully.",
      "$ref": "#/components/responses/responses:34"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:35"
     }
    }
   }
  },
  "path:17.patch": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes~1{encryptionScopeName}"
    ]
   },
   "patch": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "EncryptionScopes"
    ],
    "operationId": "EncryptionScopes_Patch",
    "description": "Update encryption scope properties as specified in the request body. Update fails if the specified encryption scope does not already exist.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:8"
     }
    ],
    "requestBody": {
     "description": "Encryption scope properties to be used for the update.",
     "$ref": "#/components/requestBodies/requestBodies:10"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Update encryption scope operation completed successfully.",
      "$ref": "#/components/responses/responses:36"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:37"
     }
    }
   }
  },
  "path:17.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes~1{encryptionScopeName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "EncryptionScopes"
    ],
    "operationId": "EncryptionScopes_Get",
    "description": "Returns the properties for the specified encryption scope.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:8"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Get encryption scope operation completed successfully.",
      "$ref": "#/components/responses/responses:38"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:39"
     }
    }
   }
  },
  "path:18": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes"
    ]
   }
  },
  "path:18.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///231?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1encryptionScopes"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "EncryptionScopes"
    ],
    "operationId": "EncryptionScopes_List",
    "description": "Lists all the encryption scopes available under the specified storage account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List encryption scopes operation completed successfully.",
      "$ref": "#/components/responses/responses:40"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": "nextLink"
    }
   }
  },
  "path:19": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices"
    ]
   }
  },
  "path:19.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobService"
    ],
    "operationId": "BlobServices_List",
    "description": "List blob services of storage account. It returns a collection of one object named default.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List blob services operation completed successfully.",
      "$ref": "#/components/responses/responses:41"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": null
    }
   }
  },
  "path:20": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1{BlobServicesName}"
    ]
   }
  },
  "path:20.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1{BlobServicesName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobService"
    ],
    "operationId": "BlobServices_SetServiceProperties",
    "description": "Sets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules. ",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:18"
     }
    ],
    "requestBody": {
     "description": "The properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
     "$ref": "#/components/requestBodies/requestBodies:11"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Sets The properties of a storage account’s Blob service successfully.",
      "$ref": "#/components/responses/responses:42"
     }
    }
   }
  },
  "path:20.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1{BlobServicesName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobService"
    ],
    "operationId": "BlobServices_GetServiceProperties",
    "description": "Gets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:18"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- returned the properties of a storage account’s Blob service.",
      "$ref": "#/components/responses/responses:43"
     }
    }
   }
  },
  "path:21": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers"
    ]
   }
  },
  "path:21.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_List",
    "description": "Lists all containers and does not support a prefix like data plane. Also SRP today does not return continuation token.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:9",
      "description": "Optional. Specified maximum number of containers that can be included in the list."
     },
     {
      "$ref": "#/components/parameters/parameters:10",
      "description": "Optional. When specified, only container names starting with the filter will be listed."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List Container operation completed successfully.",
      "$ref": "#/components/responses/responses:44"
     }
    },
    "x-ms-pageable": {
     "nextLinkName": "nextLink"
    }
   }
  },
  "path:22": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}"
    ]
   }
  },
  "path:22.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_Create",
    "description": "Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container. ",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "Properties of the blob container to create.",
     "$ref": "#/components/requestBodies/requestBodies:12"
    },
    "x-ms-requestBody-index": 3,
    "responses": {
     "200": {
      "description": "OK -- The Container is already created.",
      "$ref": "#/components/responses/responses:45"
     },
     "201": {
      "description": "Created -- Create Container operation completed successfully.",
      "$ref": "#/components/responses/responses:46"
     }
    }
   }
  },
  "path:22.patch": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}"
    ]
   },
   "patch": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_Update",
    "description": "Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist. ",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "Properties to update for the blob container.",
     "$ref": "#/components/requestBodies/requestBodies:13"
    },
    "x-ms-requestBody-index": 3,
    "responses": {
     "200": {
      "description": "OK -- Update Container operation completed successfully.",
      "$ref": "#/components/responses/responses:47"
     }
    }
   }
  },
  "path:22.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_Get",
    "description": "Gets properties of a specified container. ",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Get Container operation completed successfully.",
      "$ref": "#/components/responses/responses:48"
     }
    }
   }
  },
  "path:22.delete": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}"
    ]
   },
   "delete": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_Delete",
    "description": "Deletes specified container under its account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Delete Container operation completed successfully.",
      "$ref": "#/components/responses/responses:49"
     },
     "204": {
      "description": "No Content -- The Container not exist.",
      "$ref": "#/components/responses/responses:50"
     }
    }
   }
  },
  "path:23": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1setLegalHold"
    ]
   }
  },
  "path:23.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1setLegalHold"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_SetLegalHold",
    "description": "Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The LegalHold property that will be set to a blob container.",
     "$ref": "#/components/requestBodies/requestBodies:14"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Set legal hold tags for Container completed successfully.",
      "$ref": "#/components/responses/responses:51"
     }
    }
   }
  },
  "path:24": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1clearLegalHold"
    ]
   }
  },
  "path:24.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1clearLegalHold"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_ClearLegalHold",
    "description": "Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "The LegalHold property that will be clear from a blob container.",
     "$ref": "#/components/requestBodies/requestBodies:15"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Clear legal hold tags for Container completed successfully.",
      "$ref": "#/components/responses/responses:52"
     }
    }
   }
  },
  "path:25": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1{immutabilityPolicyName}"
    ]
   }
  },
  "path:25.put": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1{immutabilityPolicyName}"
    ]
   },
   "put": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_CreateOrUpdateImmutabilityPolicy",
    "description": "Creates or updates an unlocked immutability policy. ETag in If-Match is honored if given but not required for this operation.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:17"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:11",
      "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied."
     }
    ],
    "requestBody": {
     "description": "The ImmutabilityPolicy Properties that will be created or updated to a blob container.",
     "$ref": "#/components/requestBodies/requestBodies:16"
    },
    "x-ms-requestBody-index": 6,
    "responses": {
     "200": {
      "description": "OK -- Creates or updates container ImmutabilityPolicy operation completed successfully.",
      "$ref": "#/components/responses/responses:53"
     }
    }
   }
  },
  "path:25.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1{immutabilityPolicyName}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_GetImmutabilityPolicy",
    "description": "Gets the existing immutability policy along with the corresponding ETag in response headers and body.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:17"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:12",
      "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Gets container ImmutabilityPolicy operation completed successfully.",
      "$ref": "#/components/responses/responses:54"
     }
    }
   }
  },
  "path:25.delete": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1{immutabilityPolicyName}"
    ]
   },
   "delete": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_DeleteImmutabilityPolicy",
    "description": "Aborts an unlocked immutability policy. The response of delete has immutabilityPeriodSinceCreationInDays set to 0. ETag in If-Match is required for this operation. Deleting a locked immutability policy is not allowed, only way is to delete the container after deleting all blobs inside the container.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:17"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:13",
      "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Deletes container ImmutabilityPolicy operation completed successfully.",
      "$ref": "#/components/responses/responses:55"
     }
    }
   }
  },
  "path:26": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/lock",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1default~1lock"
    ]
   }
  },
  "path:26.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/lock",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1default~1lock"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_LockImmutabilityPolicy",
    "description": "Sets the ImmutabilityPolicy to Locked state. The only action allowed on a Locked policy is ExtendImmutabilityPolicy action. ETag in If-Match is required for this operation.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:14",
      "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied."
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- Locks container ImmutabilityPolicy operation completed successfully.",
      "$ref": "#/components/responses/responses:56"
     }
    }
   }
  },
  "path:27": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/extend",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1default~1extend"
    ]
   }
  },
  "path:27.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/extend",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1immutabilityPolicies~1default~1extend"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_ExtendImmutabilityPolicy",
    "description": "Extends the immutabilityPeriodSinceCreationInDays of a locked immutabilityPolicy. The only action allowed on a Locked policy will be this action. ETag in If-Match is required for this operation.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     },
     {
      "$ref": "#/components/parameters/parameters:15",
      "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied."
     }
    ],
    "requestBody": {
     "description": "The ImmutabilityPolicy Properties that will be extended for a blob container.",
     "$ref": "#/components/requestBodies/requestBodies:17"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Extends container ImmutabilityPolicy operation completed successfully..",
      "$ref": "#/components/responses/responses:57"
     }
    }
   }
  },
  "path:28": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1lease"
    ]
   }
  },
  "path:28.post": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///232?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1blobServices~1default~1containers~1{containerName}~1lease"
    ]
   },
   "post": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "BlobContainers"
    ],
    "operationId": "BlobContainers_Lease",
    "description": "The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:16"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "requestBody": {
     "description": "Lease Container request body.",
     "$ref": "#/components/requestBodies/requestBodies:18"
    },
    "x-ms-requestBody-index": 5,
    "responses": {
     "200": {
      "description": "OK -- Lease Container operation completed successfully.",
      "$ref": "#/components/responses/responses:58"
     }
    }
   }
  },
  "path:29": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///233?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1fileServices"
    ]
   }
  },
  "path:29.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///233?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices",
    "originalLocations": [
     "https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.Storage~1storageAccounts~1{accountName}~1fileServices"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "tags": [
     "FileService"
    ],
    "operationId": "FileServices_List",
    "description": "List all file services in storage accounts",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:4"
     },
     {
      "$ref": "#/components/parameters/parameters:5"
     },
     {
      "$ref": "#/components/parameters/parameters:24"
     },
     {
      "$ref": "#/components/parameters/parameters:23"
     }
    ],
    "responses": {
     "200": {
      "description": "OK -- List file services operation completed successfully.",
      "$ref": "#/components/responses/responses:59"
     },
     "default": {
      "description": "Error response describing why the operation failed.",
      "$ref": "#/components/responses/responses:60"
     }
    }
   }
  },
  "path:30": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-06-01"
    ],
    "filename": [
     "mem:///233?oai3.shaken.json"
    ],
    "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/{FileServicesName}",
    "originalLocations": [
[...]
