{
 "openapi": "3.0.0",
 "info": {
  "x-ms-metadata": {
   "merged": true,
   "apiVersions": [
    "2019-12-01"
   ],
   "deduplicated": true,
   "schemaReduced": true
  },
  "title": "myservice",
  "description": "REST API for Azure",
  "version": "2019-12-01"
 },
 "security": [
  {
   "azure_auth": [
    "user_impersonation"
   ]
  }
 ],
 "paths": {
  "path:0": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-12-01"
    ],
    "filename": [
     "mem:///96?oai3.shaken.json"
    ],
    "path": "/someFunction/{name}",
    "originalLocations": [
     "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/paths/~1someFunction~1{name}"
    ]
   }
  },
  "path:0.get": {
   "x-ms-metadata": {
    "apiVersions": [
     "2019-12-01"
    ],
    "filename": [
     "mem:///96?oai3.shaken.json"
    ],
    "path": "/someFunction/{name}",
    "originalLocations": [
     "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/paths/~1someFunction~1{name}"
    ]
   },
   "get": {
    "servers": [
     {
      "url": "https://management.azure.com/"
     }
    ],
    "operationId": "something_Get",
    "description": "Retrieves the details of a something.",
    "parameters": [
     {
      "$ref": "#/components/parameters/parameters:0",
      "description": "Thename of the something."
     }
    ],
    "responses": {
     "200": {
      "description": "Request successful. Returns the details of the item retrieved.",
      "$ref": "#/components/responses/responses:0"
     }
    }
   }
  }
 },
 "components": {
  "parameters": {
   "parameters:0": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "paths·1ymxoha·somefunction-name·get·parameters·0",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/parameters/paths·1ymxoha·somefunction-name·get·parameters·0"
     ]
    },
    "name": "name",
    "in": "path",
    "description": "Thename of the something.",
    "schema": {
     "$ref": "#/components/schemas/schemas:0"
    },
    "required": true,
    "x-ms-parameter-location": "method"
   }
  },
  "schemas": {
   "schemas:0": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "paths·w16l8q·somefunction-name·get·parameters·0·schema",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/paths·w16l8q·somefunction-name·get·parameters·0·schema"
     ]
    },
    "type": "string"
   },
   "schemas:1": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "ChildHidingParentProperty",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/ChildHidingParentProperty"
     ]
    },
    "properties": {
     "name": {
      "description": "Name overrides the parent name. bad!",
      "$ref": "#/components/schemas/schemas:2"
     },
     "etag": {
      "description": "A unique read-only string that changes whenever the resource is updated.",
      "readOnly": true,
      "$ref": "#/components/schemas/schemas:3"
     }
    },
    "allOf": [
     {
      "$ref": "#/components/schemas/schemas:4"
     }
    ],
    "description": "VpnServerConfiguration Resource."
   },
   "schemas:2": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "ChildHidingParentProperty-name",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/ChildHidingParentProperty-name"
     ]
    },
    "type": "string",
    "description": "Name overrides the parent name. bad!"
   },
   "schemas:3": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "ChildHidingParentProperty-etag",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/ChildHidingParentProperty-etag"
     ]
    },
    "type": "string",
    "readOnly": true,
    "description": "A unique read-only string that changes whenever the resource is updated."
   },
   "schemas:4": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource"
     ]
    },
    "properties": {
     "id": {
      "description": "Resource ID.",
      "$ref": "#/components/schemas/schemas:5"
     },
     "name": {
      "description": "Resource name.",
      "readOnly": true,
      "$ref": "#/components/schemas/schemas:6"
     },
     "type": {
      "description": "Resource type.",
      "readOnly": true,
      "$ref": "#/components/schemas/schemas:7"
     },
     "location": {
      "description": "Resource location.",
      "$ref": "#/components/schemas/schemas:8"
     },
     "tags": {
      "description": "Resource tags.",
      "$ref": "#/components/schemas/schemas:9"
     }
    },
    "description": "Common resource representation.",
    "x-ms-azure-resource": true
   },
   "schemas:5": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource-id",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource-id"
     ]
    },
    "type": "string",
    "description": "Resource ID."
   },
   "schemas:6": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource-name",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource-name"
     ]
    },
    "readOnly": true,
    "type": "string",
    "description": "Resource name."
   },
   "schemas:7": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource-type",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource-type"
     ]
    },
    "readOnly": true,
    "type": "string",
    "description": "Resource type."
   },
   "schemas:8": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource-location",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource-location"
     ]
    },
    "type": "string",
    "description": "Resource location."
   },
   "schemas:9": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "Resource-tags",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/Resource-tags"
     ]
    },
    "type": "object",
    "additionalProperties": {
     "$ref": "#/components/schemas/schemas:10"
    },
    "description": "Resource tags."
   },
   "schemas:10": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "components·13oyrf9·schemas·resource·properties·tags·additionalproperties",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/components·13oyrf9·schemas·resource·properties·tags·additionalproperties"
     ]
    },
    "type": "string"
   },
   "schemas:11": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "MyResource",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/schemas/MyResource"
     ]
    },
    "type": "object",
    "allOf": [
     {
      "$ref": "#/components/schemas/schemas:4"
     },
     {
      "$ref": "#/components/schemas/schemas:1"
     }
    ]
   }
  },
  "responses": {
   "responses:0": {
    "x-ms-metadata": {
     "apiVersions": [
      "2019-12-01"
     ],
     "filename": [
      "mem:///96?oai3.shaken.json"
     ],
     "name": "paths·1hpi4my·somefunction-name·get·responses·200",
     "originalLocations": [
      "file:///C:/work/2020/autorest/modelerfour/modelerfour/test/errors/parent-name-conflict/oai2.loaded.json#/components/responses/paths·1hpi4my·somefunction-name·get·responses·200"
     ]
    },
    "description": "Request successful. Returns the details of the item retrieved.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/schemas:1"
      }
     }
    }
   }
  }
 },
 "servers": [
  {
   "url": "https://management.azure.com/"
  }
 ]
}