{
  "openapi": "3.0.0",
  "info": {
    "x-ms-metadata": {
      "merged": true,
      "apiVersions": [
        "2017-04-19"
      ],
      "schemaReduced": true
    },
    "title": "AdvisorManagementClient",
    "description": "REST APIs for Azure Advisor",
    "version": "2017-04-19"
  },
  "paths": {
    "path:0": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/metadata/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1metadata~1{name}"
        ]
      }
    },
    "path:0.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/metadata/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1metadata~1{name}"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Metadata"
        ],
        "summary": "Gets the metadata entity.",
        "operationId": "RecommendationMetadata_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:0",
            "description": "Name of metadata entity."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved metadata entities",
            "$ref": "#/components/responses/responses:0"
          },
          "404": {
            "description": "Client sent unknown metadata name",
            "$ref": "#/components/responses/responses:1"
          }
        }
      }
    },
    "path:1": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/metadata",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1metadata"
        ]
      }
    },
    "path:1.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/metadata",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1metadata"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Metadata"
        ],
        "summary": "Gets the list of metadata entities.",
        "operationId": "RecommendationMetadata_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved metadata entities",
            "$ref": "#/components/responses/responses:2"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "path:2": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1configurations"
        ]
      }
    },
    "path:2.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1configurations"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Configurations"
        ],
        "summary": "Retrieve Azure Advisor configurations.",
        "description": "Retrieve Azure Advisor configurations and also retrieve configurations of contained resource groups.",
        "operationId": "Configurations_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:20"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved zero or more configurations.",
            "$ref": "#/components/responses/responses:3"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "path:2.put": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1configurations"
        ]
      },
      "put": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Configurations"
        ],
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "description": "Create/Overwrite Azure Advisor configuration and also delete all configurations of contained resource groups.",
        "operationId": "Configurations_CreateInSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:20"
          }
        ],
        "requestBody": {
          "description": "The Azure Advisor configuration data structure.",
          "$ref": "#/components/requestBodies/requestBodies:0"
        },
        "x-ms-requestBody-index": 1,
        "responses": {
          "204": {
            "description": "No Content. Successfully created/overwrote configuration.",
            "$ref": "#/components/responses/responses:4"
          },
          "400": {
            "description": "Bad Request. Client sent invalid configuration scope, properties or values.",
            "$ref": "#/components/responses/responses:5"
          }
        },
        "deprecated": false
      }
    },
    "path:3": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroup}~1providers~1Microsoft.Advisor~1configurations"
        ]
      }
    },
    "path:3.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroup}~1providers~1Microsoft.Advisor~1configurations"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Configurations"
        ],
        "summary": "Retrieve Azure Advisor configurations.",
        "operationId": "Configurations_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:1",
            "description": "The name of the Azure resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved zero or more configurations.",
            "$ref": "#/components/responses/responses:6"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "path:3.put": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroup}~1providers~1Microsoft.Advisor~1configurations"
        ]
      },
      "put": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Configurations"
        ],
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "operationId": "Configurations_CreateInResourceGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:2",
            "description": "The name of the Azure resource group."
          }
        ],
        "requestBody": {
          "description": "The Azure Advisor configuration data structure.",
          "$ref": "#/components/requestBodies/requestBodies:1"
        },
        "x-ms-requestBody-index": 1,
        "responses": {
          "204": {
            "description": "No Content. Successfully created/overwrote configuration.",
            "$ref": "#/components/responses/responses:7"
          },
          "400": {
            "description": "Bad Request. Client sent invalid configuration scope, properties or values.",
            "$ref": "#/components/responses/responses:8"
          }
        },
        "deprecated": false
      }
    },
    "path:4": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1generateRecommendations"
        ]
      }
    },
    "path:4.post": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1generateRecommendations"
        ]
      },
      "post": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "GenerateRecommendations"
        ],
        "description": "Initiates the recommendation generation or computation process for a subscription. This operation is asynchronous. The generated recommendations are stored in a cache in the Advisor service.",
        "operationId": "Recommendations_Generate",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Recommendation generation has been accepted.",
            "$ref": "#/components/responses/responses:9"
          }
        },
        "deprecated": false
      }
    },
    "path:5": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1generateRecommendations~1{operationId}"
        ]
      }
    },
    "path:5.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1generateRecommendations~1{operationId}"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "GenerateRecommendations"
        ],
        "description": "Retrieves the status of the recommendation computation or generation process. Invoke this API after calling the generation recommendation. The URI of this API is returned in the Location field of the response header.",
        "operationId": "Recommendations_GetGenerateStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:3",
            "description": "The operation ID, which can be found from the Location field in the generate recommendation response header."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Recommendation generation is in progress.",
            "$ref": "#/components/responses/responses:10"
          },
          "204": {
            "description": "NoContent. Recommendation generation has been completed.",
            "$ref": "#/components/responses/responses:11"
          }
        },
        "deprecated": false
      }
    },
    "path:6": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1recommendations"
        ]
      }
    },
    "path:6.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1recommendations"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "GetRecommendations"
        ],
        "description": "Obtains cached recommendations for a subscription. The recommendations are generated or computed by invoking generateRecommendations.",
        "operationId": "Recommendations_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:4",
            "description": "The filter to apply to the recommendations."
          },
          {
            "$ref": "#/components/parameters/parameters:5",
            "description": "The number of recommendations per page if a paged version of this API is being used."
          },
          {
            "$ref": "#/components/parameters/parameters:6",
            "description": "The page-continuation token to use with a paged version of this API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully obtained cached recommendations.",
            "$ref": "#/components/responses/responses:12"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "path:7": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/operations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1operations"
        ]
      }
    },
    "path:7.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/providers/Microsoft.Advisor/operations",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1providers~1Microsoft.Advisor~1operations"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available Advisor REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved operation list.",
            "$ref": "#/components/responses/responses:13"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "path:8": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}"
        ]
      }
    },
    "path:8.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "GetRecommendations"
        ],
        "description": "Obtains details of a cached recommendation.",
        "operationId": "Recommendations_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:7",
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          },
          {
            "$ref": "#/components/parameters/parameters:8",
            "description": "The recommendation ID."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got recommendation detail.",
            "$ref": "#/components/responses/responses:14"
          }
        },
        "deprecated": false
      }
    },
    "path:9": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}~1suppressions~1{name}"
        ]
      }
    },
    "path:9.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}~1suppressions~1{name}"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Suppressions"
        ],
        "description": "Obtains the details of a suppression.",
        "operationId": "Suppressions_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:9",
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          },
          {
            "$ref": "#/components/parameters/parameters:10",
            "description": "The recommendation ID."
          },
          {
            "$ref": "#/components/parameters/parameters:11",
            "description": "The name of the suppression."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got suppression detail.",
            "$ref": "#/components/responses/responses:15"
          }
        },
        "deprecated": false
      }
    },
    "path:9.put": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}~1suppressions~1{name}"
        ]
      },
      "put": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Suppressions"
        ],
        "description": "Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of a recommendation.",
        "operationId": "Suppressions_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:12",
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          },
          {
            "$ref": "#/components/parameters/parameters:13",
            "description": "The recommendation ID."
          },
          {
            "$ref": "#/components/parameters/parameters:14",
            "description": "The name of the suppression."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "requestBody": {
          "description": "The snoozed or dismissed attribute; for example, the snooze duration.",
          "$ref": "#/components/requestBodies/requestBodies:2"
        },
        "x-ms-requestBody-index": 3,
        "responses": {
          "200": {
            "description": "OK. Successfully created suppression.",
            "$ref": "#/components/responses/responses:16"
          }
        },
        "deprecated": false
      }
    },
    "path:9.delete": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1{resourceUri}~1providers~1Microsoft.Advisor~1recommendations~1{recommendationId}~1suppressions~1{name}"
        ]
      },
      "delete": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Suppressions"
        ],
        "description": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "Suppressions_Delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:15",
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          },
          {
            "$ref": "#/components/parameters/parameters:16",
            "description": "The recommendation ID."
          },
          {
            "$ref": "#/components/parameters/parameters:17",
            "description": "The name of the suppression."
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent. The recommendation has been activated.",
            "$ref": "#/components/responses/responses:17"
          }
        },
        "deprecated": false
      }
    },
    "path:10": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1suppressions"
        ]
      }
    },
    "path:10.get": {
      "x-ms-metadata": {
        "apiVersions": [
          "2017-04-19"
        ],
        "filename": [
          "mem:///130?oai3.shaken.json"
        ],
        "path": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions",
        "originalLocations": [
          "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.Advisor~1suppressions"
        ]
      },
      "get": {
        "servers": [
          {
            "url": "https://management.azure.com/"
          }
        ],
        "tags": [
          "Suppressions"
        ],
        "description": "Retrieves the list of snoozed or dismissed suppressions for a subscription. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "Suppressions_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters:20"
          },
          {
            "$ref": "#/components/parameters/parameters:21"
          },
          {
            "$ref": "#/components/parameters/parameters:18",
            "description": "The number of suppressions per page if a paged version of this API is being used."
          },
          {
            "$ref": "#/components/parameters/parameters:19",
            "description": "The page-continuation token to use with a paged version of this API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got all suppressions in a subscription.",
            "$ref": "#/components/responses/responses:18"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "parameters:0": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·o97enf·providers-microsoft-advisor-metadata-name·get·parameters·0",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·o97enf·providers-microsoft-advisor-metadata-name·get·parameters·0"
          ]
        },
        "name": "name",
        "in": "path",
        "description": "Name of metadata entity.",
        "schema": {
          "$ref": "#/components/schemas/schemas:0"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:1": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1877q1p·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·get·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1877q1p·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·get·parameters·2"
          ]
        },
        "name": "resourceGroup",
        "in": "path",
        "description": "The name of the Azure resource group.",
        "schema": {
          "$ref": "#/components/schemas/schemas:1"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:2": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·23jlf2·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·put·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·23jlf2·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·put·parameters·2"
          ]
        },
        "name": "resourceGroup",
        "in": "path",
        "description": "The name of the Azure resource group.",
        "schema": {
          "$ref": "#/components/schemas/schemas:2"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:3": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1f94cs9·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations-operationid·get·parameters·1",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1f94cs9·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations-operationid·get·parameters·1"
          ]
        },
        "name": "operationId",
        "in": "path",
        "description": "The operation ID, which can be found from the Location field in the generate recommendation response header.",
        "schema": {
          "$ref": "#/components/schemas/schemas:5"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:4": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·5ummtc·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·5ummtc·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·2"
          ]
        },
        "name": "$filter",
        "in": "query",
        "description": "The filter to apply to the recommendations.",
        "schema": {
          "$ref": "#/components/schemas/schemas:6"
        },
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "parameters:5": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1gaesc4·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·3",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1gaesc4·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·3"
          ]
        },
        "name": "$top",
        "in": "query",
        "description": "The number of recommendations per page if a paged version of this API is being used.",
        "schema": {
          "$ref": "#/components/schemas/schemas:7"
        },
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "parameters:6": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1lwtfm2·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·4",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1lwtfm2·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·4"
          ]
        },
        "name": "$skipToken",
        "in": "query",
        "description": "The page-continuation token to use with a paged version of this API.",
        "schema": {
          "$ref": "#/components/schemas/schemas:8"
        },
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "parameters:7": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·vphn72·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·0",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·vphn72·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·0"
          ]
        },
        "name": "resourceUri",
        "in": "path",
        "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
        "schema": {
          "$ref": "#/components/schemas/schemas:9"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:8": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1w1yc13·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·1",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1w1yc13·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·1"
          ]
        },
        "name": "recommendationId",
        "in": "path",
        "description": "The recommendation ID.",
        "schema": {
          "$ref": "#/components/schemas/schemas:10"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:9": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·18ffxur·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·0",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·18ffxur·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·0"
          ]
        },
        "name": "resourceUri",
        "in": "path",
        "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
        "schema": {
          "$ref": "#/components/schemas/schemas:11"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:10": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·5awyly·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·1",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·5awyly·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·1"
          ]
        },
        "name": "recommendationId",
        "in": "path",
        "description": "The recommendation ID.",
        "schema": {
          "$ref": "#/components/schemas/schemas:12"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:11": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·10mp9ip·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·10mp9ip·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·2"
          ]
        },
        "name": "name",
        "in": "path",
        "description": "The name of the suppression.",
        "schema": {
          "$ref": "#/components/schemas/schemas:13"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:12": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·lhraqb·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·0",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·lhraqb·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·0"
          ]
        },
        "name": "resourceUri",
        "in": "path",
        "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
        "schema": {
          "$ref": "#/components/schemas/schemas:14"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:13": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·gg72c·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·1",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·gg72c·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·1"
          ]
        },
        "name": "recommendationId",
        "in": "path",
        "description": "The recommendation ID.",
        "schema": {
          "$ref": "#/components/schemas/schemas:15"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:14": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·y2vw3z·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·y2vw3z·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·2"
          ]
        },
        "name": "name",
        "in": "path",
        "description": "The name of the suppression.",
        "schema": {
          "$ref": "#/components/schemas/schemas:16"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:15": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·pu7wj3·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·0",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·pu7wj3·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·0"
          ]
        },
        "name": "resourceUri",
        "in": "path",
        "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
        "schema": {
          "$ref": "#/components/schemas/schemas:17"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:16": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·lbw7eu·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·1",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·lbw7eu·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·1"
          ]
        },
        "name": "recommendationId",
        "in": "path",
        "description": "The recommendation ID.",
        "schema": {
          "$ref": "#/components/schemas/schemas:18"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:17": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1q366rz·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·1q366rz·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·2"
          ]
        },
        "name": "name",
        "in": "path",
        "description": "The name of the suppression.",
        "schema": {
          "$ref": "#/components/schemas/schemas:19"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "parameters:18": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·18ftpk·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·2",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·18ftpk·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·2"
          ]
        },
        "name": "$top",
        "in": "query",
        "description": "The number of suppressions per page if a paged version of this API is being used.",
        "schema": {
          "$ref": "#/components/schemas/schemas:20"
        },
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "parameters:19": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·9eodyn·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·3",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/paths·9eodyn·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·3"
          ]
        },
        "name": "$skipToken",
        "in": "query",
        "description": "The page-continuation token to use with a paged version of this API.",
        "schema": {
          "$ref": "#/components/schemas/schemas:21"
        },
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "parameters:20": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "subscriptionIdParameter",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/subscriptionIdParameter"
          ]
        },
        "name": "subscriptionId",
        "in": "path",
        "description": "The Azure subscription ID.",
        "schema": {
          "$ref": "#/components/schemas/schemas:94"
        },
        "required": true
      },
      "parameters:21": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "apiVersionParameter",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/parameters/apiVersionParameter"
          ]
        },
        "name": "api-version",
        "in": "query",
        "description": "The version of the API to be used with the client request.",
        "schema": {
          "$ref": "#/components/schemas/schemas:95"
        },
        "required": true
      }
    },
    "schemas": {
      "schemas:0": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1prqxpo·providers-microsoft-advisor-metadata-name·get·parameters·0·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·1prqxpo·providers-microsoft-advisor-metadata-name·get·parameters·0·schema"
          ]
        },
        "type": "string"
      },
      "schemas:1": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·dprz2r·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·get·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·dprz2r·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·get·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:2": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1geimt5·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·put·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·1geimt5·subscriptions-subscriptionid-resourcegroups-resourcegroup-providers-microsoft-advisor-configurations·put·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:3": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·qfwau7·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations·post·responses·202·headers·location·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·qfwau7·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations·post·responses·202·headers·location·schema"
          ]
        },
        "type": "string"
      },
      "schemas:4": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·14wtmul·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations·post·responses·202·headers·retry_after·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·14wtmul·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations·post·responses·202·headers·retry_after·schema"
          ]
        },
        "type": "string"
      },
      "schemas:5": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·6ukwd0·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations-operationid·get·parameters·1·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·6ukwd0·subscriptions-subscriptionid-providers-microsoft-advisor-generaterecommendations-operationid·get·parameters·1·schema"
          ]
        },
        "format": "uuid",
        "type": "string"
      },
      "schemas:6": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·17ydu6m·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·17ydu6m·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:7": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1p5za6f·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·3·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·1p5za6f·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·3·schema"
          ]
        },
        "type": "integer"
      },
      "schemas:8": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·u1pfpo·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·4·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·u1pfpo·subscriptions-subscriptionid-providers-microsoft-advisor-recommendations·get·parameters·4·schema"
          ]
        },
        "type": "string"
      },
      "schemas:9": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1k3803s·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·0·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·1k3803s·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·0·schema"
          ]
        },
        "type": "string"
      },
      "schemas:10": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·tfsao6·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·1·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·tfsao6·resourceuri-providers-microsoft-advisor-recommendations-recommendationid·get·parameters·1·schema"
          ]
        },
        "type": "string"
      },
      "schemas:11": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·tzz29p·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·0·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·tzz29p·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·0·schema"
          ]
        },
        "type": "string"
      },
      "schemas:12": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·51ecof·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·1·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·51ecof·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·1·schema"
          ]
        },
        "type": "string"
      },
      "schemas:13": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·irc0f4·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·irc0f4·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·get·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:14": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·nx2yb8·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·0·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·nx2yb8·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·0·schema"
          ]
        },
        "type": "string"
      },
      "schemas:15": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·9ne1sy·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·1·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·9ne1sy·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·1·schema"
          ]
        },
        "type": "string"
      },
      "schemas:16": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·169d1lt·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·169d1lt·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·put·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:17": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·xie1ur·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·0·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·xie1ur·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·0·schema"
          ]
        },
        "type": "string"
      },
      "schemas:18": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·rjtxw·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·1·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·rjtxw·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·1·schema"
          ]
        },
        "type": "string"
      },
      "schemas:19": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·m9pve4·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·m9pve4·resourceuri-providers-microsoft-advisor-recommendations-recommendationid-suppressions-name·delete·parameters·2·schema"
          ]
        },
        "type": "string"
      },
      "schemas:20": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·xuy5jn·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·2·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·xuy5jn·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·2·schema"
          ]
        },
        "format": "int32",
        "type": "integer"
      },
      "schemas:21": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "paths·1m4yetd·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·3·schema",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/paths·1m4yetd·subscriptions-subscriptionid-providers-microsoft-advisor-suppressions·get·parameters·3·schema"
          ]
        },
        "type": "string"
      },
      "schemas:22": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityListResult",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityListResult"
          ]
        },
        "description": "The list of metadata entities",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of metadata entities.",
            "$ref": "#/components/schemas/schemas:23"
          },
          "nextLink": {
            "description": "The link used to get the next page of metadata.",
            "$ref": "#/components/schemas/schemas:24"
          }
        }
      },
      "schemas:23": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityListResult-value",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityListResult-value"
          ]
        },
        "description": "The list of metadata entities.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas:25"
        }
      },
      "schemas:24": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityListResult-nextLink",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityListResult-nextLink"
          ]
        },
        "description": "The link used to get the next page of metadata.",
        "type": "string"
      },
      "schemas:25": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntity",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntity"
          ]
        },
        "description": "The metadata entity contract.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The resource Id of the metadata entity.",
            "$ref": "#/components/schemas/schemas:26"
          },
          "type": {
            "description": "The type of the metadata entity.",
            "$ref": "#/components/schemas/schemas:27"
          },
          "name": {
            "description": "The name of the metadata entity.",
            "$ref": "#/components/schemas/schemas:28"
          },
          "properties": {
            "description": "The metadata entity properties.",
            "x-ms-client-flatten": true,
            "$ref": "#/components/schemas/schemas:29"
          }
        }
      },
      "schemas:26": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntity-id",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntity-id"
          ]
        },
        "description": "The resource Id of the metadata entity.",
        "type": "string"
      },
      "schemas:27": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntity-type",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntity-type"
          ]
        },
        "description": "The type of the metadata entity.",
        "type": "string"
      },
      "schemas:28": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntity-name",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntity-name"
          ]
        },
        "description": "The name of the metadata entity.",
        "type": "string"
      },
      "schemas:29": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties"
          ]
        },
        "description": "The metadata entity properties",
        "type": "object",
        "properties": {
          "displayName": {
            "description": "The display name.",
            "$ref": "#/components/schemas/schemas:30"
          },
          "dependsOn": {
            "description": "The list of keys on which this entity depends on.",
            "$ref": "#/components/schemas/schemas:31"
          },
          "applicableScenarios": {
            "description": "The list of scenarios applicable to this metadata entity.",
            "$ref": "#/components/schemas/schemas:33"
          },
          "supportedValues": {
            "description": "The list of supported values.",
            "$ref": "#/components/schemas/schemas:35"
          }
        }
      },
      "schemas:30": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties-displayName",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties-displayName"
          ]
        },
        "description": "The display name.",
        "type": "string"
      },
      "schemas:31": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties-dependsOn",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties-dependsOn"
          ]
        },
        "description": "The list of keys on which this entity depends on.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas:32"
        }
      },
      "schemas:32": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties-dependsOnItem",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties-dependsOnItem"
          ]
        },
        "type": "string"
      },
      "schemas:33": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties-applicableScenarios",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties-applicableScenarios"
          ]
        },
        "description": "The list of scenarios applicable to this metadata entity.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Scenario"
        }
      },
      "schemas:35": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataEntityProperties-supportedValues",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataEntityProperties-supportedValues"
          ]
        },
        "description": "The list of supported values.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas:36"
        }
      },
      "schemas:36": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataSupportedValueDetail",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataSupportedValueDetail"
          ]
        },
        "description": "The metadata supported value detail.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The id.",
            "$ref": "#/components/schemas/schemas:37"
          },
          "displayName": {
            "description": "The display name.",
            "$ref": "#/components/schemas/schemas:38"
          }
        }
      },
      "schemas:37": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataSupportedValueDetail-id",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataSupportedValueDetail-id"
          ]
        },
        "description": "The id.",
        "type": "string"
      },
      "schemas:38": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "MetadataSupportedValueDetail-displayName",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/MetadataSupportedValueDetail-displayName"
          ]
        },
        "description": "The display name.",
        "type": "string"
      },
      "schemas:39": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigurationListResult",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigurationListResult"
          ]
        },
        "description": "The list of Advisor configurations.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of configurations.",
            "$ref": "#/components/schemas/schemas:40"
          },
          "nextLink": {
            "description": "The link used to get the next page of configurations.",
            "$ref": "#/components/schemas/schemas:41"
          }
        }
      },
      "schemas:40": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigurationListResult-value",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigurationListResult-value"
          ]
        },
        "description": "The list of configurations.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas:42"
        }
      },
      "schemas:41": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigurationListResult-nextLink",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigurationListResult-nextLink"
          ]
        },
        "description": "The link used to get the next page of configurations.",
        "type": "string"
      },
      "schemas:42": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData"
          ]
        },
        "description": "The Advisor configuration data structure.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The resource Id of the configuration resource.",
            "$ref": "#/components/schemas/schemas:43"
          },
          "type": {
            "description": "The type of the configuration resource.",
            "$ref": "#/components/schemas/schemas:44"
          },
          "name": {
            "description": "The name of the configuration resource.",
            "$ref": "#/components/schemas/schemas:45"
          },
          "properties": {
            "description": "The list of property name/value pairs.",
            "$ref": "#/components/schemas/schemas:46"
          }
        }
      },
      "schemas:43": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData-id",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData-id"
          ]
        },
        "description": "The resource Id of the configuration resource.",
        "type": "string"
      },
      "schemas:44": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData-type",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData-type"
          ]
        },
        "description": "The type of the configuration resource.",
        "type": "string"
      },
      "schemas:45": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData-name",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData-name"
          ]
        },
        "description": "The name of the configuration resource.",
        "type": "string"
      },
      "schemas:46": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData-properties",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData-properties"
          ]
        },
        "description": "The list of property name/value pairs.",
        "type": "object",
        "properties": {
          "exclude": {
            "description": "Exclude the resource from Advisor evaluations. Valid values: False (default) or True.",
            "type": "boolean"
          },
          "low_cpu_threshold": {
            "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20.",
            "$ref": "#/components/schemas/schemas:47"
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/schemas:48"
        }
      },
      "schemas:47": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ConfigData-properties-low_cpu_threshold",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ConfigData-properties-low_cpu_threshold"
          ]
        },
        "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20.",
        "type": "string"
      },
      "schemas:48": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "components·1lh1t0f·schemas·configdata·properties·properties·additionalproperties",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/components·1lh1t0f·schemas·configdata·properties·properties·additionalproperties"
          ]
        },
        "type": "object"
      },
      "schemas:49": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ARMErrorResponseBody",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ARMErrorResponseBody"
          ]
        },
        "description": "ARM error response body.",
        "type": "object",
        "properties": {
          "message": {
            "description": "Gets or sets the string that describes the error in detail and provides debugging information.",
            "$ref": "#/components/schemas/schemas:50"
          },
          "code": {
            "description": "Gets or sets the string that can be used to programmatically identify the error.",
            "$ref": "#/components/schemas/schemas:51"
          }
        }
      },
      "schemas:50": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ARMErrorResponseBody-message",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ARMErrorResponseBody-message"
          ]
        },
        "description": "Gets or sets the string that describes the error in detail and provides debugging information.",
        "type": "string"
      },
      "schemas:51": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ARMErrorResponseBody-code",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ARMErrorResponseBody-code"
          ]
        },
        "description": "Gets or sets the string that can be used to programmatically identify the error.",
        "type": "string"
      },
      "schemas:52": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ResourceRecommendationBaseListResult",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ResourceRecommendationBaseListResult"
          ]
        },
        "description": "The list of Advisor recommendations.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of recommendations.",
            "$ref": "#/components/schemas/schemas:53"
          },
          "value": {
            "description": "The list of recommendations.",
            "$ref": "#/components/schemas/schemas:54"
          }
        }
      },
      "schemas:53": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ResourceRecommendationBaseListResult-nextLink",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ResourceRecommendationBaseListResult-nextLink"
          ]
        },
        "description": "The link used to get the next page of recommendations.",
        "type": "string"
      },
      "schemas:54": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ResourceRecommendationBaseListResult-value",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ResourceRecommendationBaseListResult-value"
          ]
        },
        "description": "The list of recommendations.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas:55"
        }
      },
      "schemas:55": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "ResourceRecommendationBase",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/ResourceRecommendationBase"
          ]
        },
        "description": "Advisor Recommendation.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/schemas:70"
          }
        ],
        "properties": {
          "properties": {
            "description": "The properties of the recommendation.",
            "x-ms-client-flatten": true,
            "$ref": "#/components/schemas/schemas:56"
          }
        }
      },
      "schemas:56": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "RecommendationProperties",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/RecommendationProperties"
          ]
        },
        "description": "The properties of the recommendation.",
        "type": "object",
        "properties": {
          "category": {
            "description": "The category of the recommendation.",
            "$ref": "#/components/schemas/category"
          },
          "impact": {
            "description": "The business impact of the recommendation.",
            "$ref": "#/components/schemas/impact"
          },
          "impactedField": {
            "description": "The resource type identified by Advisor.",
            "$ref": "#/components/schemas/schemas:59"
          },
          "impactedValue": {
            "description": "The resource identified by Advisor.",
            "$ref": "#/components/schemas/schemas:60"
          },
          "lastUpdated": {
            "description": "The most recent time that Advisor checked the validity of the recommendation.",
            "$ref": "#/components/schemas/schemas:61"
          },
          "metadata": {
            "description": "The recommendation metadata.",
            "$ref": "#/components/schemas/schemas:62"
          },
          "recommendationTypeId": {
            "description": "The recommendation-type GUID.",
            "$ref": "#/components/schemas/schemas:64"
          },
          "risk": {
            "description": "The potential risk of not implementing the recommendation.",
            "$ref": "#/components/schemas/risk"
          },
          "shortDescription": {
            "description": "A summary of the recommendation.",
            "$ref": "#/components/schemas/schemas:74"
          },
          "suppressionIds": {
            "description": "The list of snoozed and dismissed rules for the recommendation.",
            "$ref": "#/components/schemas/schemas:66"
          },
          "extendedProperties": {
            "description": "Extended properties",
            "$ref": "#/components/schemas/schemas:68"
          }
        }
      },
      "schemas:59": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "RecommendationProperties-impactedField",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/RecommendationProperties-impactedField"
          ]
        },
        "description": "The resource type identified by Advisor.",
        "type": "string"
      },
      "schemas:60": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "RecommendationProperties-impactedValue",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/RecommendationProperties-impactedValue"
          ]
        },
        "description": "The resource identified by Advisor.",
        "type": "string"
      },
      "schemas:61": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "RecommendationProperties-lastUpdated",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/RecommendationProperties-lastUpdated"
          ]
        },
        "format": "date-time",
        "description": "The most recent time that Advisor checked the validity of the recommendation.",
        "type": "string"
      },
      "schemas:62": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
          "name": "RecommendationProperties-metadata",
          "originalLocations": [
            "https://github.com/azure/azure-rest-api-specs/tree/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json#/components/schemas/RecommendationProperties-metadata"
          ]
        },
        "description": "The recommendation metadata.",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/schemas:63"
        }
      },
      "schemas:63": {
        "x-ms-metadata": {
          "apiVersions": [
            "2017-04-19"
          ],
          "filename": [
            "mem:///130?oai3.shaken.json"
          ],
[...]
